<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login<title>
</head>

<body>
    <div class="form-body">
        <img src="" alt="user-Login">
        <p class="text"></p>
        <form class="Login-form">
            <input type="text" placeholder="Email o nombre de usuario">
            <input type="password" placeholder= "Contraseña">
            <button>Iniciar Sesion</button>
        </form>
    </div>
</body>

</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="form-body">
        <img src="" alt="user-login">
        <p class="text">.</p>
        form
    </div>
</body>
</html>