
<hr>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><p style="color: blue;">ARCHIVIST</p></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="app.component.html">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Contacto
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">@sirley_m2456</a></li>
            <li><a class="dropdown-item" href="#">@ohmysji</a></li>
            <li><a class="dropdown-item" href="#">@_sara_hipolito_</a></li>
            <li><a class="dropdown-item" href="#">@valeryy.rt</a></li>
            <li><a class="dropdown-item" href="#">@mont_zb</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Busqueda" aria-label="Search" style="color: #24687B;">
        <button class="btn btn-outline-success"  type="submit" style="color: #24687B" style="background-color: #A6D2DE;" >  Busqueda</button>
      </form>
    </div>
  </div>
</nav>
<hr>

<div class="row mx-5">

<div class="col">
  <div class="card" style="width: 18rem;">
    <img src="./img/curp.jpg" class="card-img-top" alt="">
    <div class="card-body">
      <h4>Curp</h4>
      <p class="card-text"></p>
      <a href="#" class="btn btn-primary">Consultar</a>
    </div>
  </div>
</div>

<div class="col">
  <div class="card" style="width: 18rem;">
    <img src="./assets/img/ine.jpg" class="card-img-top" alt="">
    <div class="card-body">
      <h4>Acta Nacimiento</h4>
      <p class="card-text"></p>
      <a href="#" class="btn btn-primary">Consultar</a>
    </div>
  </div>
</div>
<div class="col">
  <div class="card" style="width: 18rem;">
    <img src="" class="card-img-top" alt="">
    <div class="card-body">
      <h4>Ine del Tutor</h4>
      <p class="card-text"></p>
      <a href="#" class="btn btn-primary">Consultar</a>
    </div>
  </div>
</div>

</div>








